<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}
  <!-- main header -->

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">

          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <img src="images/about.png" alt="thapa" class="img-fluid" title = "Kartik Website">
            </figure>
          </div>
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather App</p>
            <h1>I am a Coder <span class="text_clr"> at GeeksForGeeks , Leetcode and Codechef</span> and learning web development</h1>
            <a href="https://auth.geeksforgeeks.org/user/kartiksrivastava6/practice/" target = "_kartik"><button>About My profile</button></a>
          </div>
          <!-- right side div -->

        </div>
      </div>
    </div>
  </div>

  {{>footer}}



</body>

</html>
